*
{
	margin: 0px;
	padding: 0px;
}
div p
{
	color: blueviolet;
}
.task-2
{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 60%;
	
}
.inside
{
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
}
.task-2 p
{
	height: 30px;
	border: 1px solid;
}
#width-30
{
	position: relative;
	width: 30%;
}
#width-70
{
	position: relative;
	width: 70%;
}