*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto;
    background: #9ab6c9;
	text-align: center;
}
header
{
	background-color: #335d79;
	height: 80px;
	top: 0px;
	display: flex;
	align-items: center;
}
a
{
	margin-left: 10px;
	font-size: 30px;
	text-decoration: none;
	color: rgb(202, 226, 238);
}
main
{
	font-size: 25px;
}
h1
{
	text-align: center;
	margin: 30px;
	color:rgb(34, 37, 70)
}
table
{
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}
.table-bordered
{
	border-width: 3px;
}
th
{
	text-align: center;
	height: 35px;
}
td
{
	padding: 10px 40px;
	text-align: left;
}
.btn
{
	background-color: rgb(60, 87, 137);
	color: antiquewhite;
	text-align: center;
	font-size: 20px;
	padding: 10px 20px;
}
.btn:hover
{
	color: antiquewhite;
	background-color: #11364f;
}
.result
{
	white-space: pre-wrap;
	text-align: left;
	margin-left: 10%;
}