*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1
{
	display: flex;
	justify-content: center;
	padding: 50px;
	background-color:rgb(210, 166, 238)
}
body
{
	background-color:rgb(244, 215, 244);
}
td
{
	text-align: center;
	padding: 5px;
	border: 1px solid;
	border-color: rgb(175, 146, 234);
}
th
{
	border: 3px solid;
	border-color: rgb(175, 146, 234);
	padding: 4px;
}
table
{
	margin-left: auto;
	margin-right: auto;
	border: 3px solid;
	border-color: rgb(175, 146, 234);
	margin-top: 15px;
	border-spacing: 5px;
}
.numerator
{
	width: 300px;
}
.denominator
{
	width: 300px;
}
